# temporary Python files
__pycache__/
*.pyc

# Python package management files
*.egg-info/

# unit test results
test-results.xml

# Editor backup files
*~
.ipynb_checkpoints

# temp files
parser.out
parsetab.py

# log files
jsbml.log
*.done
output.dat
guesses.csv

# Mac OS desktop configuration files
.DS_Store

#Working directory for downloads.
direct_download/